<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>授权通过相册，选择头像或身份证照片</string>
	<key>NSCameraUsageDescription</key>
	<string>授权通过相机，进行头像拍摄或扫描二维码</string>
</dict>
</plist>
